[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
lexer = { path = "../lexer" }
parser = { path = "../parser" }
miette = { git = "https://github.com/bit-rs/miette", features = ["fancy"] }
